In [101]:
import pandas as pd
import geopandas as gpd
from pathlib import Path

In [102]:
# Defining directories
dir_path = Path.cwd().parent
data_folder = dir_path.joinpath("data/shapes")

lan_path = data_folder.joinpath('lantana/lantana_camara.shp')
shp_path = data_folder.joinpath('himachal_species/himachal_species.shp')

final_folder = data_folder.joinpath("himachal_species_final")
if not final_folder.exists():
    final_folder.mkdir(parents=True)

species_shp_path = final_folder.joinpath('himachal_species_final.shp')

In [103]:
shp_df = gpd.read_file(shp_path)
shp_df

,Submission,s_type,Lat,Long,Altitude,Accuracy,classname,geometry
0,2024-12-01,tree,31.870123,77.323331,1983.900000,9.640,aesculusi indica,POINT (77.32333 31.87012)
1,2024-12-01,tree,31.869807,77.322735,1984.100000,9.600,aesculusi indica,POINT (77.32274 31.86981)
2,2024-12-01,tree,31.869550,77.322662,1984.100000,9.700,aesculusi indica,POINT (77.32266 31.86955)
3,2024-12-01,tree,31.869572,77.322532,1984.100000,9.900,aesculusi indica,POINT (77.32253 31.86957)
4,2024-12-01,tree,31.869404,77.322733,1984.200000,9.857,aesculusi indica,POINT (77.32273 31.8694)
...,...,...,...,...,...,...,...,...
144389,2024-04-18,tree,32.151873,76.502289,1793.895508,4.487,rhododendron,POINT (76.50229 32.15187)
144390,2024-04-17,tree,31.909850,76.472174,646.000000,3.900,senegalia catechu,POINT (76.47217 31.90985)
144391,2024-04-17,grass,31.909855,76.472295,646.000000,3.900,bambusa bamboo,POINT (76.4723 31.90986)
144392,2024-04-17,grass,31.960307,76.462548,665.300000,3.900,bambusa bamboo,POINT (76.46255 31.96031)
144393,2024-04-17,grass,31.960506,76.462673,659.200000,4.720,bambusa bamboo,POINT (76.46267 31.96051)

In [104]:
shp_df['classname'].value_counts()

classname
chir pine                   40708
senegalia catechu           22990
cedrus deodara              20625
shorea robusta              14398
eucalyptus                   8513
quercus leucotrichophora     6335
indian gooseberry            6191
wild mango                   4834
rhododendron                 4765
aesculusi indica             4206
bambusa bamboo               3939
dendrocalamus strictus       3524
taxus baccata                3142
himalayan birch               224
Name: count, dtype: int64

### Removing Himalayan Birch

In [105]:
shp_df = shp_df[shp_df['classname']!="himalayan birch"]
print(shp_df.shape)
shp_df['classname'].value_counts()

(144170, 8)

classname
chir pine                   40708
senegalia catechu           22990
cedrus deodara              20625
shorea robusta              14398
eucalyptus                   8513
quercus leucotrichophora     6335
indian gooseberry            6191
wild mango                   4834
rhododendron                 4765
aesculusi indica             4206
bambusa bamboo               3939
dendrocalamus strictus       3524
taxus baccata                3142
Name: count, dtype: int64

In [106]:
lan_df = gpd.read_file(lan_path).rename(columns={
    'Latitude':'Lat',
    'Longitude':'Long',
    'Species_Na':'classname',
    'Vegetation':'s_type'

}).drop('Common_Nam', axis=1)
lan_df

,s_type,Lat,Long,Altitude,Accuracy,classname,geometry
0,Shrub,31.885008,75.977310,556.100000,7.100,Lantana camara,POINT (75.97731 31.88501)
1,Shrub,31.941162,75.967308,458.200000,2.898,Lantana camara,POINT (75.96731 31.94116)
2,Shrub,31.941166,75.967316,457.600000,1.784,Lantana camara,POINT (75.96732 31.94117)
3,Shrub,31.941112,75.967422,459.000000,2.638,Lantana camara,POINT (75.96742 31.94111)
4,Shrub,31.941364,75.967506,412.000000,3.825,Lantana camara,POINT (75.96751 31.94136)
...,...,...,...,...,...,...,...
4736,Shrub,32.015243,76.513542,849.318800,6.434,Lantana camara,POINT (76.51354 32.01524)
4737,Shrub,32.141304,76.532822,1398.200073,6.978,Lantana camara,POINT (76.53282 32.1413)
4738,Shrub,32.126499,76.514374,1219.200073,6.121,Lantana camara,POINT (76.51437 32.1265)
4739,Shrub,32.130604,76.524590,1209.599976,5.335,Lantana camara,POINT (76.52459 32.1306)
4740,Shrub,32.134071,76.532524,1330.800049,6.325,Lantana camara,POINT (76.53252 32.13407)

There are 4 duplicates in lantana file which have been corrected for

In [107]:
lan_df = lan_df.drop_duplicates(['Long', 'Lat'], keep='first')
lan_df

,s_type,Lat,Long,Altitude,Accuracy,classname,geometry
0,Shrub,31.885008,75.977310,556.100000,7.100,Lantana camara,POINT (75.97731 31.88501)
1,Shrub,31.941162,75.967308,458.200000,2.898,Lantana camara,POINT (75.96731 31.94116)
2,Shrub,31.941166,75.967316,457.600000,1.784,Lantana camara,POINT (75.96732 31.94117)
3,Shrub,31.941112,75.967422,459.000000,2.638,Lantana camara,POINT (75.96742 31.94111)
4,Shrub,31.941364,75.967506,412.000000,3.825,Lantana camara,POINT (75.96751 31.94136)
...,...,...,...,...,...,...,...
4736,Shrub,32.015243,76.513542,849.318800,6.434,Lantana camara,POINT (76.51354 32.01524)
4737,Shrub,32.141304,76.532822,1398.200073,6.978,Lantana camara,POINT (76.53282 32.1413)
4738,Shrub,32.126499,76.514374,1219.200073,6.121,Lantana camara,POINT (76.51437 32.1265)
4739,Shrub,32.130604,76.524590,1209.599976,5.335,Lantana camara,POINT (76.52459 32.1306)
4740,Shrub,32.134071,76.532524,1330.800049,6.325,Lantana camara,POINT (76.53252 32.13407)

In [108]:
lan_df[lan_df.duplicated(['Long', 'Lat'], keep=False)]

Empty GeoDataFrame
Columns: [s_type, Lat, Long, Altitude, Accuracy, classname, geometry]
Index: []

In [109]:
shp_df.duplicated(['Long', 'Lat'],keep=False).value_counts()

False    144170
Name: count, dtype: int64

In [110]:
species_shp = pd.concat([shp_df, lan_df], axis=0)
species_shp

,Submission,s_type,Lat,Long,Altitude,Accuracy,classname,geometry
0,2024-12-01,tree,31.870123,77.323331,1983.900000,9.640,aesculusi indica,POINT (77.32333 31.87012)
1,2024-12-01,tree,31.869807,77.322735,1984.100000,9.600,aesculusi indica,POINT (77.32274 31.86981)
2,2024-12-01,tree,31.869550,77.322662,1984.100000,9.700,aesculusi indica,POINT (77.32266 31.86955)
3,2024-12-01,tree,31.869572,77.322532,1984.100000,9.900,aesculusi indica,POINT (77.32253 31.86957)
4,2024-12-01,tree,31.869404,77.322733,1984.200000,9.857,aesculusi indica,POINT (77.32273 31.8694)
...,...,...,...,...,...,...,...,...
4736,NaT,Shrub,32.015243,76.513542,849.318800,6.434,Lantana camara,POINT (76.51354 32.01524)
4737,NaT,Shrub,32.141304,76.532822,1398.200073,6.978,Lantana camara,POINT (76.53282 32.1413)
4738,NaT,Shrub,32.126499,76.514374,1219.200073,6.121,Lantana camara,POINT (76.51437 32.1265)
4739,NaT,Shrub,32.130604,76.524590,1209.599976,5.335,Lantana camara,POINT (76.52459 32.1306)
4740,NaT,Shrub,32.134071,76.532524,1330.800049,6.325,Lantana camara,POINT (76.53252 32.13407)

In [111]:
species_shp['classname'].value_counts()

classname
chir pine                   40708
senegalia catechu           22990
cedrus deodara              20625
shorea robusta              14398
eucalyptus                   8513
quercus leucotrichophora     6335
indian gooseberry            6191
wild mango                   4834
rhododendron                 4765
Lantana camara               4737
aesculusi indica             4206
bambusa bamboo               3939
dendrocalamus strictus       3524
taxus baccata                3142
Name: count, dtype: int64

In [112]:
species_shp.duplicated(['Long', 'Lat'],keep=False).value_counts()

False    148907
Name: count, dtype: int64

### Renamimg the species

In [113]:
species_shp['classname'].unique()

array(['aesculusi indica', 'senegalia catechu', 'cedrus deodara',
       'indian gooseberry', 'taxus baccata', 'rhododendron', 'chir pine',
       'dendrocalamus strictus', 'wild mango', 'shorea robusta',
       'bambusa bamboo', 'quercus leucotrichophora', 'eucalyptus',
       'Lantana camara'], dtype=object)

In [114]:
species_dict = {
    "aesculusi indica":"Aesculus indica",
    "senegalia catechu":"Senegalia catechu",
    "cedrus deodara":"Cedrus deodara",
    "indian gooseberry":"Phyllanthus emblica",
    "taxus baccata":"Taxus baccata",
    "rhododendron":"Rhododendron arboreum",
    "chir pine":"Pinus roxburghii",
    "dendrocalamus strictus":"Dendrocalamus strictus",
    "wild mango":"Mangifera sylvatica",
    "shorea robusta":"Shorea robusta",
    "bambusa bamboo":"Bambusoideae spp.",
    "quercus leucotrichophora":"Quercus leucotrichophora",
    "eucalyptus":"Eucalyptus globulus",
    "Lantana camara":"Lantana camara",
}

In [115]:
species_shp['classname'] = species_shp['classname'].replace(species_dict)

In [116]:
species_shp['classname'].value_counts()

classname
Pinus roxburghii            40708
Senegalia catechu           22990
Cedrus deodara              20625
Shorea robusta              14398
Eucalyptus globulus          8513
Quercus leucotrichophora     6335
Phyllanthus emblica          6191
Mangifera sylvatica          4834
Rhododendron arboreum        4765
Lantana camara               4737
Aesculus indica              4206
Bambusoideae spp.            3939
Dendrocalamus strictus       3524
Taxus baccata                3142
Name: count, dtype: int64

In [118]:
species_shp.to_file(species_shp_path, driver='ESRI Shapefile')

/home/bippw1/bipp/ncount/sentinel-2-grab/sent2/lib/python3.10/site-packages/pyogrio/raw.py:723: RuntimeWarning: Field Submission create as date field, though DateTime requested.
  ogr_write(