In [1]:
from pathlib import Path
import pandas as pd
import numpy as np
from functools import reduce

In [2]:
pd.set_option('display.max_columns', 1000)

In [3]:
# Defining directories
dir_path = Path.cwd().parent
cov_dfs = list(dir_path.joinpath("data/cleaned/covariates_original").glob("*.csv"))
cov_dfs_no_nan = list(dir_path.joinpath("data/cleaned/covariates_smoothened").glob("*.csv"))


prep_folder = dir_path.joinpath("data/prep")

processed_folder = dir_path.joinpath("data/processed")

cov_final_path = processed_folder.joinpath("cov_final.parquet")

In [4]:
cov_dfs

[PosixPath('/home/bippw1/bipp/ncount/sentinel-2-grab/data/cleaned/covariates_original/sand_f.csv'),
 PosixPath('/home/bippw1/bipp/ncount/sentinel-2-grab/data/cleaned/covariates_original/elevation.csv'),
 PosixPath('/home/bippw1/bipp/ncount/sentinel-2-grab/data/cleaned/covariates_original/cfvo_f.csv'),
 PosixPath('/home/bippw1/bipp/ncount/sentinel-2-grab/data/cleaned/covariates_original/phh2o_f.csv'),
 PosixPath('/home/bippw1/bipp/ncount/sentinel-2-grab/data/cleaned/covariates_original/soc_f.csv'),
 PosixPath('/home/bippw1/bipp/ncount/sentinel-2-grab/data/cleaned/covariates_original/slope.csv'),
 PosixPath('/home/bippw1/bipp/ncount/sentinel-2-grab/data/cleaned/covariates_original/clay_f.csv'),
 PosixPath('/home/bippw1/bipp/ncount/sentinel-2-grab/data/cleaned/covariates_original/nitrogen_f.csv'),
 PosixPath('/home/bippw1/bipp/ncount/sentinel-2-grab/data/cleaned/covariates_original/cec_f.csv'),
 PosixPath('/home/bippw1/bipp/ncount/sentinel-2-grab/data/cleaned/covariates_original/bdod_f.csv'),
 PosixPath('/home/bippw1/bipp/ncount/sentinel-2-grab/data/cleaned/covariates_original/aspect.csv'),
 PosixPath('/home/bippw1/bipp/ncount/sentinel-2-grab/data/cleaned/covariates_original/silt_f.csv'),
 PosixPath('/home/bippw1/bipp/ncount/sentinel-2-grab/data/cleaned/covariates_original/ocd_f.csv')]

In [5]:
data_holder = []
for df_path in cov_dfs:
    
    df = pd.read_csv(df_path, dtype={"long": str, "lat": str})
    data_holder.append(df)

In [6]:
alt_data_holder = []
for alt_df_path in cov_dfs_no_nan:
    alt_df = pd.read_csv(alt_df_path, dtype={"long": str, "lat": str})
    alt_data_holder.append(alt_df)

In [7]:
data_holder[0]

                     long                 lat    species_names    sand_f
0       77.32333130000006  31.870122700000024  Aesculus indica  294.4625
1       77.32273500000008  31.869806700000026  Aesculus indica  294.4625
2       77.32266170000008   31.86955000000006  Aesculus indica  294.4625
3       77.32253230000003  31.869572100000028  Aesculus indica  294.4625
4       77.32273260000005  31.869404400000064  Aesculus indica  294.4625
...                   ...                 ...              ...       ...
148902  76.51354220000007  32.015243500000054   Lantana camara  273.2500
148903  76.53282170000006   32.14130400000005   Lantana camara  282.5500
148904  76.51437380000004   32.12649920000007   Lantana camara  292.4875
148905  76.52458950000005  32.130603800000074   Lantana camara  293.6375
148906  76.53252410000005   32.13407140000004   Lantana camara  274.3875

[148907 rows x 4 columns]

In [7]:
merged_df = reduce(lambda left, right: pd.merge(left, right, on=['long', 'lat', 'species_names'], how='outer', validate="1:1"), data_holder)
merged_df

,long,lat,species_names,sand_f,elevation,cfvo_f,phh2o_f,soc_f,slope,clay_f,nitrogen_f,cec_f,bdod_f,aspect,silt_f,ocd_f
0,75.66669580000007,32.25107380000003,Bambusoideae spp.,264.9250,352.0,135.475,46.85,62.9375,13.422151,224.7375,863.65,107.4375,100.8625,254.256500,260.3375,70.275
1,75.66676390000003,32.25073910000003,Bambusoideae spp.,264.9250,350.0,135.475,46.85,62.9375,10.147419,224.7375,863.65,107.4375,100.8625,254.256454,260.3375,70.275
2,75.66686810000004,32.25026770000005,Bambusoideae spp.,264.9250,349.0,135.475,46.85,62.9375,8.110854,224.7375,863.65,107.4375,100.8625,250.076767,260.3375,70.275
3,75.66719240000003,32.249825100000066,Bambusoideae spp.,264.9250,351.0,135.475,46.85,62.9375,9.826173,224.7375,863.65,107.4375,100.8625,242.139969,260.3375,70.275
4,75.66729090000007,32.24962370000003,Bambusoideae spp.,264.9250,348.0,135.475,46.85,62.9375,6.125500,224.7375,863.65,107.4375,100.8625,243.095016,260.3375,70.275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148902,78.12497830000007,31.25865170000003,Rhododendron arboreum,367.3625,2309.0,199.450,45.70,306.7875,54.879799,162.7250,1175.15,141.3875,96.8750,325.060272,219.8625,121.675
148903,78.12522000000007,31.258880000000033,Rhododendron arboreum,367.3625,2292.0,199.450,45.70,306.7875,58.185696,162.7250,1175.15,141.3875,96.8750,319.749359,219.8625,121.675
148904,78.12614830000007,31.258660000000077,Rhododendron arboreum,367.3625,2361.0,199.450,45.70,300.6625,30.714142,162.7250,1175.15,141.3875,96.6375,292.424896,219.8625,121.675
148905,78.12618260000005,31.25882800000005,Rhododendron arboreum,367.3625,2350.0,199.450,45.70,300.6625,43.765118,162.7250,1175.15,141.3875,96.6375,348.596802,219.8625,121.675
148906,78.12624330000006,31.258713300000068,Rhododendron arboreum,367.3625,2361.0,199.450,45.70,300.6625,30.714142,162.7250,1175.15,141.3875,96.6375,292.424896,219.8625,121.675

In [8]:
alternate_no_nan_cov = reduce(lambda left, right: pd.merge(left, right, on=['long', 'lat', 'species_names'], how='outer', validate="1:1"), alt_data_holder)
alternate_no_nan_cov

,long,lat,species_names,phh2o_f_250,silt_f_250,clay_f_250,sand_f_250,nitrogen_f_250,cec_f_250,ocd_f_250,soc_f_250,bdod_f_250,cfvo_f_250
0,75.66669580000007,32.25107380000003,Bambusoideae spp.,38.098156,210.112961,175.572845,195.898666,699.651733,90.637871,57.605869,59.671677,78.020752,70.020645
1,75.66676390000003,32.25073910000003,Bambusoideae spp.,38.084953,210.014694,175.489624,195.827866,699.875122,90.606461,57.604271,59.658978,77.983574,69.986725
2,75.66686810000004,32.25026770000005,Bambusoideae spp.,38.117676,210.281708,175.581238,196.068802,701.804443,90.763405,57.728619,59.819633,78.035263,70.127052
3,75.66719240000003,32.249825100000066,Bambusoideae spp.,38.192928,210.780609,175.870255,196.528824,704.415955,91.017876,57.909088,60.041794,78.173874,70.337967
4,75.66729090000007,32.24962370000003,Bambusoideae spp.,38.192928,210.780609,175.870255,196.528824,704.415955,91.017876,57.909088,60.041794,78.173874,70.337967
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148902,78.12497830000007,31.25865170000003,Rhododendron arboreum,46.373795,229.334305,141.008377,379.647034,1449.366211,157.521530,100.471573,261.083038,95.462410,214.559982
148903,78.12522000000007,31.258880000000033,Rhododendron arboreum,46.379784,229.443115,140.733139,379.813202,1450.426636,157.582748,100.473717,261.260223,95.470932,214.703125
148904,78.12614830000007,31.258660000000077,Rhododendron arboreum,46.382156,229.559677,140.412170,380.018250,1453.411377,157.508789,100.544479,261.459045,95.450211,214.665649
148905,78.12618260000005,31.25882800000005,Rhododendron arboreum,46.385765,229.611557,140.289978,380.088257,1453.458496,157.575256,100.524750,261.546265,95.461899,214.781204
148906,78.12624330000006,31.258713300000068,Rhododendron arboreum,46.387882,229.666901,140.142624,380.180389,1454.490967,157.575485,100.541931,261.647644,95.459259,214.808914

In [9]:
merged_df.describe()

,sand_f,elevation,cfvo_f,phh2o_f,soc_f,slope,clay_f,nitrogen_f,cec_f,bdod_f,aspect,silt_f,ocd_f
count,148849.000000,148907.000000,148849.000000,148849.000000,148890.000000,148907.000000,148849.000000,148849.000000,148849.000000,148890.000000,148907.000000,148849.000000,148849.000000
mean,280.741758,1150.304002,153.138479,45.518179,107.975115,16.376518,229.301532,1138.397259,137.971301,98.183235,179.714469,239.957254,87.692062
std,19.327391,683.710560,25.513193,1.454475,39.728983,10.894979,20.839551,259.441938,11.101642,3.541373,104.002279,20.169039,15.832518
min,232.925000,277.000000,68.612500,41.775000,48.675000,0.000000,111.537500,691.950000,94.037500,84.762500,0.000000,164.412500,58.425000
25%,268.875000,554.000000,136.975000,44.487500,74.250000,7.458100,217.112500,932.962500,130.850000,95.487500,90.000000,226.200000,76.150000
50%,278.425000,902.000000,151.175000,45.525000,98.850000,14.009754,233.650000,1080.387500,136.950000,98.087500,186.614029,235.650000,83.025000
75%,288.862500,1725.000000,167.637500,46.512500,138.025000,23.923491,243.112500,1301.637500,144.462500,100.825000,266.105957,249.662500,96.887500
max,395.775000,3288.000000,277.700000,52.575000,397.625000,67.851387,304.712500,2641.312500,213.525000,110.037500,358.860107,330.662500,158.575000

In [10]:
alternate_no_nan_cov.describe()

,phh2o_f_250,silt_f_250,clay_f_250,sand_f_250,nitrogen_f_250,cec_f_250,ocd_f_250,soc_f_250,bdod_f_250,cfvo_f_250
count,148907.000000,148907.000000,148907.000000,148907.000000,148907.000000,148907.000000,148907.000000,148907.000000,148907.000000,148907.000000
mean,45.431004,237.685028,226.173038,278.668008,1115.009072,137.091391,86.477832,108.021585,97.402477,152.404550
std,2.264359,21.438309,19.842663,21.735377,177.191275,9.163502,13.885734,35.728858,5.094855,24.855059
min,23.452112,110.386742,107.464714,140.171127,483.769073,74.190750,36.845619,42.033421,49.903309,63.394051
25%,44.636700,227.427429,215.281113,267.649689,985.921570,132.890549,77.574108,76.563873,95.566757,138.631882
50%,45.610741,233.078781,232.805267,278.078217,1114.401978,136.361267,83.790634,94.744118,97.790108,150.857666
75%,46.641457,247.174973,239.847961,287.956177,1229.818604,143.194130,93.431694,139.265823,100.571281,167.850464
max,52.646339,290.706848,264.856506,380.180389,1729.377441,241.035797,123.788200,262.741760,105.197113,271.693970

### Missingness in Covariates

sand, cfvo, phh2o, clay, nitrogen, cec, silt and ocd have 58 missing locations. 

bdod, soc = 17 missing locations

So for all the misisng values in the original Covariates data frame, we will impute the bilinear resampled value for alternate covariates frame.

In [11]:
for col in merged_df.columns:
    print(merged_df[col].isna().value_counts())

long
False    148907
Name: count, dtype: int64
lat
False    148907
Name: count, dtype: int64
species_names
False    148907
Name: count, dtype: int64
sand_f
False    148849
True         58
Name: count, dtype: int64
elevation
False    148907
Name: count, dtype: int64
cfvo_f
False    148849
True         58
Name: count, dtype: int64
phh2o_f
False    148849
True         58
Name: count, dtype: int64
soc_f
False    148890
True         17
Name: count, dtype: int64
slope
False    148907
Name: count, dtype: int64
clay_f
False    148849
True         58
Name: count, dtype: int64
nitrogen_f
False    148849
True         58
Name: count, dtype: int64
cec_f
False    148849
True         58
Name: count, dtype: int64
bdod_f
False    148890
True         17
Name: count, dtype: int64
aspect
False    148907
Name: count, dtype: int64
silt_f
False    148849
True         58
Name: count, dtype: int64
ocd_f
False    148849
True         58
Name: count, dtype: int64

In [12]:
for col in alternate_no_nan_cov.columns:
    print(alternate_no_nan_cov[col].isna().value_counts())

long
False    148907
Name: count, dtype: int64
lat
False    148907
Name: count, dtype: int64
species_names
False    148907
Name: count, dtype: int64
phh2o_f_250
False    148907
Name: count, dtype: int64
silt_f_250
False    148907
Name: count, dtype: int64
clay_f_250
False    148907
Name: count, dtype: int64
sand_f_250
False    148907
Name: count, dtype: int64
nitrogen_f_250
False    148907
Name: count, dtype: int64
cec_f_250
False    148907
Name: count, dtype: int64
ocd_f_250
False    148907
Name: count, dtype: int64
soc_f_250
False    148907
Name: count, dtype: int64
bdod_f_250
False    148907
Name: count, dtype: int64
cfvo_f_250
False    148907
Name: count, dtype: int64

### Imputation of missing values

In [13]:
impt_df = pd.merge(left=merged_df, right=alternate_no_nan_cov, on=['long', 'lat', 'species_names'], how='outer', validate="1:1")
impt_df

,long,lat,species_names,sand_f,elevation,cfvo_f,phh2o_f,soc_f,slope,clay_f,nitrogen_f,cec_f,bdod_f,aspect,silt_f,ocd_f,phh2o_f_250,silt_f_250,clay_f_250,sand_f_250,nitrogen_f_250,cec_f_250,ocd_f_250,soc_f_250,bdod_f_250,cfvo_f_250
0,75.66669580000007,32.25107380000003,Bambusoideae spp.,264.9250,352.0,135.475,46.85,62.9375,13.422151,224.7375,863.65,107.4375,100.8625,254.256500,260.3375,70.275,38.098156,210.112961,175.572845,195.898666,699.651733,90.637871,57.605869,59.671677,78.020752,70.020645
1,75.66676390000003,32.25073910000003,Bambusoideae spp.,264.9250,350.0,135.475,46.85,62.9375,10.147419,224.7375,863.65,107.4375,100.8625,254.256454,260.3375,70.275,38.084953,210.014694,175.489624,195.827866,699.875122,90.606461,57.604271,59.658978,77.983574,69.986725
2,75.66686810000004,32.25026770000005,Bambusoideae spp.,264.9250,349.0,135.475,46.85,62.9375,8.110854,224.7375,863.65,107.4375,100.8625,250.076767,260.3375,70.275,38.117676,210.281708,175.581238,196.068802,701.804443,90.763405,57.728619,59.819633,78.035263,70.127052
3,75.66719240000003,32.249825100000066,Bambusoideae spp.,264.9250,351.0,135.475,46.85,62.9375,9.826173,224.7375,863.65,107.4375,100.8625,242.139969,260.3375,70.275,38.192928,210.780609,175.870255,196.528824,704.415955,91.017876,57.909088,60.041794,78.173874,70.337967
4,75.66729090000007,32.24962370000003,Bambusoideae spp.,264.9250,348.0,135.475,46.85,62.9375,6.125500,224.7375,863.65,107.4375,100.8625,243.095016,260.3375,70.275,38.192928,210.780609,175.870255,196.528824,704.415955,91.017876,57.909088,60.041794,78.173874,70.337967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148902,78.12497830000007,31.25865170000003,Rhododendron arboreum,367.3625,2309.0,199.450,45.70,306.7875,54.879799,162.7250,1175.15,141.3875,96.8750,325.060272,219.8625,121.675,46.373795,229.334305,141.008377,379.647034,1449.366211,157.521530,100.471573,261.083038,95.462410,214.559982
148903,78.12522000000007,31.258880000000033,Rhododendron arboreum,367.3625,2292.0,199.450,45.70,306.7875,58.185696,162.7250,1175.15,141.3875,96.8750,319.749359,219.8625,121.675,46.379784,229.443115,140.733139,379.813202,1450.426636,157.582748,100.473717,261.260223,95.470932,214.703125
148904,78.12614830000007,31.258660000000077,Rhododendron arboreum,367.3625,2361.0,199.450,45.70,300.6625,30.714142,162.7250,1175.15,141.3875,96.6375,292.424896,219.8625,121.675,46.382156,229.559677,140.412170,380.018250,1453.411377,157.508789,100.544479,261.459045,95.450211,214.665649
148905,78.12618260000005,31.25882800000005,Rhododendron arboreum,367.3625,2350.0,199.450,45.70,300.6625,43.765118,162.7250,1175.15,141.3875,96.6375,348.596802,219.8625,121.675,46.385765,229.611557,140.289978,380.088257,1453.458496,157.575256,100.524750,261.546265,95.461899,214.781204
148906,78.12624330000006,31.258713300000068,Rhododendron arboreum,367.3625,2361.0,199.450,45.70,300.6625,30.714142,162.7250,1175.15,141.3875,96.6375,292.424896,219.8625,121.675,46.387882,229.666901,140.142624,380.180389,1454.490967,157.575485,100.541931,261.647644,95.459259,214.808914

In [14]:
for col in merged_df.columns:
    if col not in ['long', 'lat', 'species_names', 'elevation', 'slope', 'aspect']:
        alt_col = col + "_250"
        impt_df[col] = np.where(impt_df[col].isna(), impt_df[alt_col], impt_df[col])

In [15]:
for col in impt_df.columns:
    print(impt_df[col].isna().value_counts())

long
False    148907
Name: count, dtype: int64
lat
False    148907
Name: count, dtype: int64
species_names
False    148907
Name: count, dtype: int64
sand_f
False    148907
Name: count, dtype: int64
elevation
False    148907
Name: count, dtype: int64
cfvo_f
False    148907
Name: count, dtype: int64
phh2o_f
False    148907
Name: count, dtype: int64
soc_f
False    148907
Name: count, dtype: int64
slope
False    148907
Name: count, dtype: int64
clay_f
False    148907
Name: count, dtype: int64
nitrogen_f
False    148907
Name: count, dtype: int64
cec_f
False    148907
Name: count, dtype: int64
bdod_f
False    148907
Name: count, dtype: int64
aspect
False    148907
Name: count, dtype: int64
silt_f
False    148907
Name: count, dtype: int64
ocd_f
False    148907
Name: count, dtype: int64
phh2o_f_250
False    148907
Name: count, dtype: int64
silt_f_250
False    148907
Name: count, dtype: int64
clay_f_250
False    148907
Name: count, dtype: int64
sand_f_250
False    148907
Name: count, dtype: int64
nitrogen_f_250
False    148907
Name: count, dtype: int64
cec_f_250
False    148907
Name: count, dtype: int64
ocd_f_250
False    148907
Name: count, dtype: int64
soc_f_250
False    148907
Name: count, dtype: int64
bdod_f_250
False    148907
Name: count, dtype: int64
cfvo_f_250
False    148907
Name: count, dtype: int64

In [198]:
merged_df[merged_df['sand_f'].isna()]

,long,lat,species_names,sand_f,elevation,cfvo_f,phh2o_f,soc_f,slope,clay_f,nitrogen_f,cec_f,bdod_f,aspect,silt_f,ocd_f
28134,76.08747670000008,32.05656600000003,eucalyptus,NaN,451.0,NaN,NaN,74.95,1.434221,NaN,NaN,NaN,106.500,229.717941,NaN,NaN
69461,76.86666230000003,32.637501300000054,cedrus deodara,NaN,2949.0,NaN,NaN,225.30,14.106914,NaN,NaN,NaN,103.400,130.100723,NaN,NaN
84067,77.08260390000004,31.669265300000063,indian gooseberry,NaN,958.0,NaN,NaN,96.75,39.859486,NaN,NaN,NaN,104.350,253.092773,NaN,NaN
84072,77.08262490000004,31.669447700000035,indian gooseberry,NaN,958.0,NaN,NaN,96.75,39.859486,NaN,NaN,NaN,104.350,253.092773,NaN,NaN
84076,77.08265270000004,31.669393600000035,indian gooseberry,NaN,958.0,NaN,NaN,96.75,39.859486,NaN,NaN,NaN,104.350,253.092773,NaN,NaN
84077,77.08265430000006,31.669438100000036,indian gooseberry,NaN,958.0,NaN,NaN,96.75,39.859486,NaN,NaN,NaN,104.350,253.092773,NaN,NaN
84081,77.08267160000008,31.66934200000003,indian gooseberry,NaN,958.0,NaN,NaN,96.75,39.859486,NaN,NaN,NaN,104.350,253.092773,NaN,NaN
84082,77.08267970000009,31.669403100000068,indian gooseberry,NaN,958.0,NaN,NaN,96.75,39.859486,NaN,NaN,NaN,104.350,253.092773,NaN,NaN
84087,77.08269990000008,31.669430100000056,indian gooseberry,NaN,958.0,NaN,NaN,96.75,39.859486,NaN,NaN,NaN,104.350,253.092773,NaN,NaN
84089,77.08271360000003,31.669423300000062,indian gooseberry,NaN,958.0,NaN,NaN,96.75,39.859486,NaN,NaN,NaN,104.350,253.092773,NaN,NaN
84092,77.08271870000004,31.669570600000043,indian gooseberry,NaN,967.0,NaN,NaN,96.75,39.859562,NaN,NaN,NaN,104.350,253.092819,NaN,NaN
84100,77.08275530000003,31.669460000000072,indian gooseberry,NaN,958.0,NaN,NaN,96.75,39.859486,NaN,NaN,NaN,104.350,253.092773,NaN,NaN
84101,77.08275750000007,31.66961610000004,indian gooseberry,NaN,967.0,NaN,NaN,96.75,39.859562,NaN,NaN,NaN,104.350,253.092819,NaN,NaN
84105,77.08277050000004,31.669583000000046,indian gooseberry,NaN,967.0,NaN,NaN,96.75,39.859562,NaN,NaN,NaN,104.350,253.092819,NaN,NaN
84107,77.08277340000006,31.66944650000005,indian gooseberry,NaN,958.0,NaN,NaN,96.75,39.859486,NaN,NaN,NaN,104.350,253.092773,NaN,NaN
84117,77.08280340000005,31.66970290000006,indian gooseberry,NaN,967.0,NaN,NaN,96.75,39.859562,NaN,NaN,NaN,104.350,253.092819,NaN,NaN
84119,77.08281000000005,31.66969290000003,indian gooseberry,NaN,967.0,NaN,NaN,96.75,39.859562,NaN,NaN,NaN,104.350,253.092819,NaN,NaN
84121,77.08281870000008,31.669515600000068,indian gooseberry,NaN,958.0,NaN,NaN,96.75,39.859486,NaN,NaN,NaN,104.350,253.092773,NaN,NaN
84126,77.08283030000007,31.669691800000066,indian gooseberry,NaN,967.0,NaN,NaN,96.75,39.859562,NaN,NaN,NaN,104.350,253.092819,NaN,NaN
84132,77.08285800000004,31.669486500000062,indian gooseberry,NaN,958.0,NaN,NaN,96.75,39.859486,NaN,NaN,NaN,104.350,253.092773,NaN,NaN
84146,77.08289450000007,31.66955530000007,indian gooseberry,NaN,989.0,NaN,NaN,96.75,35.321545,NaN,NaN,NaN,104.350,249.960449,NaN,NaN
84150,77.08291950000006,31.66999110000006,indian gooseberry,NaN,994.0,NaN,NaN,96.75,35.703560,NaN,NaN,NaN,104.350,258.303802,NaN,NaN
84151,77.08292060000008,31.66981270000008,indian gooseberry,NaN,994.0,NaN,NaN,96.75,35.703560,NaN,NaN,NaN,104.350,258.303802,NaN,NaN
84156,77.08295040000007,31.669565400000067,indian gooseberry,NaN,989.0,NaN,NaN,96.75,35.321545,NaN,NaN,NaN,104.350,249.960449,NaN,NaN
84160,77.08296340000004,31.669740700000034,indian gooseberry,NaN,989.0,NaN,NaN,96.75,35.321545,NaN,NaN,NaN,104.350,249.960449,NaN,NaN
84162,77.08297670000007,31.669786900000076,indian gooseberry,NaN,989.0,NaN,NaN,96.75,35.321545,NaN,NaN,NaN,104.350,249.960449,NaN,NaN
84166,77.08298760000008,31.66978880000005,indian gooseberry,NaN,989.0,NaN,NaN,96.75,35.321545,NaN,NaN,NaN,104.350,249.960449,NaN,NaN
84167,77.08299020000004,31.669669000000056,indian gooseberry,NaN,989.0,NaN,NaN,96.75,35.321545,NaN,NaN,NaN,104.350,249.960449,NaN,NaN
84169,77.08299550000004,31.669712600000025,indian gooseberry,NaN,989.0,NaN,NaN,96.75,35.321545,NaN,NaN,NaN,104.350,249.960449,NaN,NaN
84171,77.08299970000007,31.66978400000005,indian gooseberry,NaN,989.0,NaN,NaN,96.75,35.321545,NaN,NaN,NaN,104.350,249.960449,NaN,NaN
84172,77.08300450000007,31.669732500000066,indian gooseberry,NaN,989.0,NaN,NaN,96.75,35.321545,NaN,NaN,NaN,104.350,249.960449,NaN,NaN
84173,77.08300790000004,31.66978270000004,indian gooseberry,NaN,989.0,NaN,NaN,96.75,35.321545,NaN,NaN,NaN,104.350,249.960449,NaN,NaN
84175,77.08301500000005,31.669800200000054,indian gooseberry,NaN,994.0,NaN,NaN,96.75,35.703560,NaN,NaN,NaN,104.350,258.303802,NaN,NaN
84177,77.08301980000005,31.669659400000057,indian gooseberry,NaN,989.0,NaN,NaN,96.75,35.321545,NaN,NaN,NaN,104.350,249.960449,NaN,NaN
84186,77.08305660000008,31.66978450000005,indian gooseberry,NaN,989.0,NaN,NaN,96.75,35.321545,NaN,NaN,NaN,104.350,249.960449,NaN,NaN
84187,77.08305800000005,31.66974300000004,indian gooseberry,NaN,989.0,NaN,NaN,96.75,35.321545,NaN,NaN,NaN,104.350,249.960449,NaN,NaN
84191,77.08307120000006,31.67004330000003,indian gooseberry,NaN,994.0,NaN,NaN,96.75,35.703560,NaN,NaN,NaN,104.350,258.303802,NaN,NaN
84192,77.08307750000006,31.66974520000008,indian gooseberry,NaN,989.0,NaN,NaN,96.75,35.321545,NaN,NaN,NaN,104.350,249.960449,NaN,NaN
84194,77.08309120000007,31.66968430000003,indian gooseberry,NaN,989.0,NaN,NaN,96.75,35.321545,NaN,NaN,NaN,104.350,249.960449,NaN,NaN
84197,77.08310810000006,31.670037200000024,indian gooseberry,NaN,994.0,NaN,NaN,96.75,35.703560,NaN,NaN,NaN,104.350,258.303802,NaN,NaN
84199,77.08311700000007,31.670053100000075,indian gooseberry,NaN,994.0,NaN,NaN,96.75,35.703560,NaN,NaN,NaN,104.350,258.303802,NaN,NaN
84202,77.08314110000003,31.669909500000074,indian gooseberry,NaN,994.0,NaN,NaN,96.75,35.703560,NaN,NaN,NaN,104.350,258.303802,NaN,NaN
90374,77.10724720000007,31.956294800000023,cedrus deodara,NaN,1260.0,NaN,NaN,NaN,10.748705,NaN,NaN,NaN,NaN,64.762604,NaN,NaN
90392,77.10731000000004,31.956450000000075,cedrus deodara,NaN,1260.0,NaN,NaN,NaN,10.748705,NaN,NaN,NaN,NaN,64.762604,NaN,NaN
90421,77.10746100000006,31.95634030000008,cedrus deodara,NaN,1260.0,NaN,NaN,NaN,5.652884,NaN,NaN,NaN,NaN,11.113470,NaN,NaN
90423,77.10746710000006,31.95615440000006,cedrus deodara,NaN,1262.0,NaN,NaN,NaN,3.534169,NaN,NaN,NaN,NaN,38.158245,NaN,NaN
90425,77.10747740000005,31.95643800000005,cedrus deodara,NaN,1260.0,NaN,NaN,NaN,5.652884,NaN,NaN,NaN,NaN,11.113470,NaN,NaN
90436,77.10753450000004,31.956329200000027,cedrus deodara,NaN,1260.0,NaN,NaN,NaN,5.652884,NaN,NaN,NaN,NaN,11.113470,NaN,NaN
90437,77.10753620000008,31.956558700000073,cedrus deodara,NaN,1256.0,NaN,NaN,NaN,8.896333,NaN,NaN,NaN,NaN,21.448568,NaN,NaN
90440,77.10755610000007,31.95620370000006,cedrus deodara,NaN,1262.0,NaN,NaN,NaN,3.534169,NaN,NaN,NaN,NaN,38.158245,NaN,NaN
90442,77.10757350000006,31.956221200000073,cedrus deodara,NaN,1262.0,NaN,NaN,NaN,3.534169,NaN,NaN,NaN,NaN,38.158245,NaN,NaN
90444,77.10760710000005,31.956234400000028,cedrus deodara,NaN,1262.0,NaN,NaN,NaN,3.534169,NaN,NaN,NaN,NaN,38.158245,NaN,NaN
90449,77.10763270000007,31.956263300000046,cedrus deodara,NaN,1260.0,NaN,NaN,NaN,5.652884,NaN,NaN,NaN,NaN,11.113470,NaN,NaN
90450,77.10765320000007,31.956106000000034,cedrus deodara,NaN,1262.0,NaN,NaN,NaN,3.534169,NaN,NaN,NaN,NaN,38.158245,NaN,NaN
90452,77.10767660000005,31.956158300000027,cedrus deodara,NaN,1261.0,NaN,NaN,NaN,9.785736,NaN,NaN,NaN,NaN,84.614494,NaN,NaN
136689,77.62446270000004,30.467820200000062,shorea robusta,NaN,440.0,NaN,NaN,74.75,2.143507,NaN,NaN,NaN,91.375,149.881805,NaN,NaN
136726,77.62538750000004,30.471531000000027,shorea robusta,NaN,436.0,NaN,NaN,74.75,3.718119,NaN,NaN,NaN,91.375,240.118820,NaN,NaN

In [17]:
find_long = "77.08275750000007"
find_lat = "31.66961610000004"
merged_df[(merged_df['long']==find_long) & (merged_df["lat"]==find_lat)]

,long,lat,species_names,sand_f,elevation,cfvo_f,phh2o_f,soc_f,slope,clay_f,nitrogen_f,cec_f,bdod_f,aspect,silt_f,ocd_f
86834,77.08275750000007,31.66961610000004,Phyllanthus emblica,NaN,967.0,NaN,NaN,96.75,39.859562,NaN,NaN,NaN,104.35,253.092819,NaN,NaN

In [18]:
alternate_no_nan_cov[(alternate_no_nan_cov['long']==find_long) & (alternate_no_nan_cov["lat"]==find_lat)]

,long,lat,species_names,phh2o_f_250,silt_f_250,clay_f_250,sand_f_250,nitrogen_f_250,cec_f_250,ocd_f_250,soc_f_250,bdod_f_250,cfvo_f_250
86834,77.08275750000007,31.66961610000004,Phyllanthus emblica,44.412292,237.413956,235.102875,257.817657,945.022766,138.401566,79.876518,125.38932,98.772179,144.447739

In [19]:
impt_df[(impt_df['long']==find_long) & (impt_df["lat"]==find_lat)]

,long,lat,species_names,sand_f,elevation,cfvo_f,phh2o_f,soc_f,slope,clay_f,nitrogen_f,cec_f,bdod_f,aspect,silt_f,ocd_f,phh2o_f_250,silt_f_250,clay_f_250,sand_f_250,nitrogen_f_250,cec_f_250,ocd_f_250,soc_f_250,bdod_f_250,cfvo_f_250
86834,77.08275750000007,31.66961610000004,Phyllanthus emblica,257.817657,967.0,144.447739,44.412292,96.75,39.859562,235.102875,945.022766,138.401566,104.35,253.092819,237.413956,79.876518,44.412292,237.413956,235.102875,257.817657,945.022766,138.401566,79.876518,125.38932,98.772179,144.447739

In [20]:
cov_df_final = impt_df.copy()

for col in cov_df_final:
    if str(col).endswith("_250"):
        cov_df_final.drop(col, axis=1, inplace=True)
cov_df_final

,long,lat,species_names,sand_f,elevation,cfvo_f,phh2o_f,soc_f,slope,clay_f,nitrogen_f,cec_f,bdod_f,aspect,silt_f,ocd_f
0,75.66669580000007,32.25107380000003,Bambusoideae spp.,264.9250,352.0,135.475,46.85,62.9375,13.422151,224.7375,863.65,107.4375,100.8625,254.256500,260.3375,70.275
1,75.66676390000003,32.25073910000003,Bambusoideae spp.,264.9250,350.0,135.475,46.85,62.9375,10.147419,224.7375,863.65,107.4375,100.8625,254.256454,260.3375,70.275
2,75.66686810000004,32.25026770000005,Bambusoideae spp.,264.9250,349.0,135.475,46.85,62.9375,8.110854,224.7375,863.65,107.4375,100.8625,250.076767,260.3375,70.275
3,75.66719240000003,32.249825100000066,Bambusoideae spp.,264.9250,351.0,135.475,46.85,62.9375,9.826173,224.7375,863.65,107.4375,100.8625,242.139969,260.3375,70.275
4,75.66729090000007,32.24962370000003,Bambusoideae spp.,264.9250,348.0,135.475,46.85,62.9375,6.125500,224.7375,863.65,107.4375,100.8625,243.095016,260.3375,70.275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148902,78.12497830000007,31.25865170000003,Rhododendron arboreum,367.3625,2309.0,199.450,45.70,306.7875,54.879799,162.7250,1175.15,141.3875,96.8750,325.060272,219.8625,121.675
148903,78.12522000000007,31.258880000000033,Rhododendron arboreum,367.3625,2292.0,199.450,45.70,306.7875,58.185696,162.7250,1175.15,141.3875,96.8750,319.749359,219.8625,121.675
148904,78.12614830000007,31.258660000000077,Rhododendron arboreum,367.3625,2361.0,199.450,45.70,300.6625,30.714142,162.7250,1175.15,141.3875,96.6375,292.424896,219.8625,121.675
148905,78.12618260000005,31.25882800000005,Rhododendron arboreum,367.3625,2350.0,199.450,45.70,300.6625,43.765118,162.7250,1175.15,141.3875,96.6375,348.596802,219.8625,121.675
148906,78.12624330000006,31.258713300000068,Rhododendron arboreum,367.3625,2361.0,199.450,45.70,300.6625,30.714142,162.7250,1175.15,141.3875,96.6375,292.424896,219.8625,121.675

In [21]:
for col in cov_df_final.columns:
    print(cov_df_final[col].isna().value_counts())

long
False    148907
Name: count, dtype: int64
lat
False    148907
Name: count, dtype: int64
species_names
False    148907
Name: count, dtype: int64
sand_f
False    148907
Name: count, dtype: int64
elevation
False    148907
Name: count, dtype: int64
cfvo_f
False    148907
Name: count, dtype: int64
phh2o_f
False    148907
Name: count, dtype: int64
soc_f
False    148907
Name: count, dtype: int64
slope
False    148907
Name: count, dtype: int64
clay_f
False    148907
Name: count, dtype: int64
nitrogen_f
False    148907
Name: count, dtype: int64
cec_f
False    148907
Name: count, dtype: int64
bdod_f
False    148907
Name: count, dtype: int64
aspect
False    148907
Name: count, dtype: int64
silt_f
False    148907
Name: count, dtype: int64
ocd_f
False    148907
Name: count, dtype: int64

### Scaling

Scaling all all soil columns except nitrogen and bulk density by 10 and the these two by 100. elevation, slope and aspect are not scaled

In [22]:
for col in cov_df_final.columns:
    if col not in ['long', 'lat', 'species_names', 'elevation', 'slope', 'aspect']:

        if col in ["nitrogen_f", "bdod_f"]:
            cov_df_final[col] = cov_df_final[col]/100

        else:
            cov_df_final[col] = cov_df_final[col]/10

In [24]:
cov_df_final

,long,lat,species_names,sand_f,elevation,cfvo_f,phh2o_f,soc_f,slope,clay_f,nitrogen_f,cec_f,bdod_f,aspect,silt_f,ocd_f
0,75.66669580000007,32.25107380000003,Bambusoideae spp.,26.49250,352.0,13.5475,4.685,6.29375,13.422151,22.47375,8.6365,10.74375,1.008625,254.256500,26.03375,7.0275
1,75.66676390000003,32.25073910000003,Bambusoideae spp.,26.49250,350.0,13.5475,4.685,6.29375,10.147419,22.47375,8.6365,10.74375,1.008625,254.256454,26.03375,7.0275
2,75.66686810000004,32.25026770000005,Bambusoideae spp.,26.49250,349.0,13.5475,4.685,6.29375,8.110854,22.47375,8.6365,10.74375,1.008625,250.076767,26.03375,7.0275
3,75.66719240000003,32.249825100000066,Bambusoideae spp.,26.49250,351.0,13.5475,4.685,6.29375,9.826173,22.47375,8.6365,10.74375,1.008625,242.139969,26.03375,7.0275
4,75.66729090000007,32.24962370000003,Bambusoideae spp.,26.49250,348.0,13.5475,4.685,6.29375,6.125500,22.47375,8.6365,10.74375,1.008625,243.095016,26.03375,7.0275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148902,78.12497830000007,31.25865170000003,Rhododendron arboreum,36.73625,2309.0,19.9450,4.570,30.67875,54.879799,16.27250,11.7515,14.13875,0.968750,325.060272,21.98625,12.1675
148903,78.12522000000007,31.258880000000033,Rhododendron arboreum,36.73625,2292.0,19.9450,4.570,30.67875,58.185696,16.27250,11.7515,14.13875,0.968750,319.749359,21.98625,12.1675
148904,78.12614830000007,31.258660000000077,Rhododendron arboreum,36.73625,2361.0,19.9450,4.570,30.06625,30.714142,16.27250,11.7515,14.13875,0.966375,292.424896,21.98625,12.1675
148905,78.12618260000005,31.25882800000005,Rhododendron arboreum,36.73625,2350.0,19.9450,4.570,30.06625,43.765118,16.27250,11.7515,14.13875,0.966375,348.596802,21.98625,12.1675
148906,78.12624330000006,31.258713300000068,Rhododendron arboreum,36.73625,2361.0,19.9450,4.570,30.06625,30.714142,16.27250,11.7515,14.13875,0.966375,292.424896,21.98625,12.1675

### Exporting

In [25]:
cov_df_final.to_parquet(cov_final_path, index=False)